$background: #fff;

.cart-display {
    background-color: #e3e3e3;
    position: absolute;
    width: 100%;
    .cart-display__container {
        max-width: 75%;
        min-width: 20rem;
        margin: 0 auto;
        .cart-display__name {
            margin-left: 1rem;
            font-weight: 600;
        }
        .cart-display__item-info {
            background-color: $background;
            margin: 10px 15px;
            display: flex;
            .cart-display__img-wrapper {
                width: 8rem;
                .cart-display__img {
                    max-width: 100%;
                    min-width: 8rem;
                }
            }
            .cart-display__text-wrapper {
                width: 60%;
                padding-left: 10px;
                font-size: 0.8rem;
                .cart-display__qty {
                    border: 1px solid black;
                    text-align: center;
                    max-width: 30%;
                    min-width: 60px;
                    margin-top: 20px;
                }
            }
            .cart-display__price-wrapper {
                padding-top: 15px;
                text-align: center;
                margin-right: 5px;
                .cart-display__price-display {
                    color: #e22e39;
                    font-weight: 600;
                    padding-top: 5px;
                    font-size: 0.9rem;   
                }
                .cart-display__price-delete {
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
        .cart-display__footer {
            display: none;
        }
    }
}

//desktop
@media only screen and (min-width: 1000px) {
    .cart-display {
        position: relative;
        width: auto;
        .cart-display__container {
            min-width: 100%;
            .cart-display__item-info {
                .cart-display__img-wrapper {
                    width: 20%;
                    .cart-display__img {
                        min-width: 100%;
                        padding-top: 20px;
                    }
                }
                .cart-display__text-wrapper {
                    width: 60%;
                    padding-left: 10px;
                    font-size: 0.9rem;
                    .cart-display__qty {
                        max-width: 30%;
                        min-width: 70px;
                    }
                }
                .cart-display__item-info__price {
                    .price-test {
                        padding-top: 15px;
                    }
                }
            }
            .cart-display__footer {
                background-color: $background;
                position: absolute;
                bottom: 0px;
                display: flex;
                justify-content: space-evenly;
                width: 100%;
                .cart-display__btn-wrapper {
                    width: 18vw;
                    .cart-display__buy-btn {
                        width: 90%;
                        height: 5vh;
                        margin: 20px 0px;
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
                .cart-display__final-price-wrapper {
                    margin-left: -30px; 
                    .cart-display__final-price-text {
                        margin-top: 20px;
                        font-size: 0.8rem;
                    }
                    .cart-display__final-price-display {
                        font-weight: 600;
                    }
                }
            }
        }
    }
}
