.header__container {
    display: flex;
    justify-content: space-between;
    .header__logo__img {
        width: 8rem;
    }
    .header__cart {
        padding-top: 8px;
        .header__cart__btn {
            min-width: 4vw;
            border-radius: 15px;
            background-color: #fff;
            outline: none;
            border: none;
            &:hover {
                cursor: pointer;
            }
            .header__cart__img {
                margin-right: 2rem;
            }
            .header__cart__price {
                position: relative;
                right: 25%;
            }
        }
    }
}


//desktop
@media only screen and (min-width: 1000px) {
    .header__container {
        .header__logo__img {
            width: 10rem;
        }
        .header__cart {
            padding-top: 1rem;
            margin-right: 10rem;     
            .header__cart__btn {
                border: 1px solid black;
            }
        }
    }
}

